In [1]:
import pandas as pd
import numpy as np
import statistics
import seaborn as sns

In [2]:
data = [1,1,1,2,3,4,4,4,4,5,6,7,7,7,8]

In [4]:
1+1+1+2+3+4+4+4+4+5+6+7+7+7+8

64

In [5]:
64/15

4.266666666666667

In [6]:
statistics.mean(data)

4.266666666666667

In [7]:
df = sns.load_dataset('mpg')

In [25]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [9]:
statistics.mean(df['mpg'])

23.514572864321607

In [10]:
statistics.mean(df['cylinders'])

5.454773869346734

In [15]:
data = [1,1,1,2,3,4,4,4,4,5,6,7,7,7,8,50]

In [16]:
statistics.mean(data)

7.125

In [28]:
df.mean(numeric_only=True)

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model_year        76.010050
dtype: float64

In [17]:
statistics.median(data)

4.0

In [29]:
df.median(numeric_only=True)

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model_year        76.0
dtype: float64

In [20]:
statistics.mode(data)

4

In [30]:
df.mode()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,13.0,4.0,97.0,150.0,1985,14.5,73.0,usa,ford pinto
1,NaN,NaN,NaN,NaN,2130,NaN,NaN,NaN,NaN

In [36]:
len(df[df['name'] == 'ford pinto'])

6

In [32]:
len(df[df['weight'] == 1985])

4

In [33]:
len(df[df['weight'] == 2130])

4